<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/my_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuadroPodControl"
        tools:targetApi="31">
        <activity
            android:name=".RobotMovingActivity"
            android:exported="false"
            android:label="@string/title_activity_robot_moving"
            android:theme="@style/Theme.QuadroPodControl" />
        <activity
            android:name=".ArmsAndLegsControlActivity"
            android:exported="false"
            android:label="@string/title_activity_arms_and_legs_control"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.QuadroPodControl" />
        <activity
            android:name=".MyLauncherActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.QuadroPodControl">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SecondActivity"
            android:exported="false"
            android:label="@string/title_activity_second"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.QuadroPodControl" />
    </application>

</manifest>